<div class="wrapper">
  @if (_skip <= _limit) {
  <img class="previous disabled" src="images/Left.png" />
  } @else {
  <img class="previous" (click)="onPrevious()" src="images/Left.png" />
  }
  <div class="pages">
    @for (page of pages; track $index) {
    <div
      class="page"
      [ngClass]="{ active: currentPage == $index + 1 }"
      (click)="onPage($index)"
    >
      {{ $index + 1 }}
    </div>
    }
  </div>
  @if ((_skip * _limit) + _limit > total) {
  <img class="next disabled" src="images/Left.png" />
  } @else {
  <img src="images/Left.png" class="next" (click)="onNext()" />
  }
</div>
