<div class="wrapper">
  <div class="title">Products</div>
  <app-breadcrumb></app-breadcrumb>

  <div class="container">
    <app-categories></app-categories>
    <div class="products-wrapper">
      <div class="products">
        @for (product of products; track product.id) {
        <app-product-card [product]="product"></app-product-card>
        }
      </div>
      <app-paginator
        (paginate)="onPaginate($event)"
        [limit]="limit"
        [skip]="skip"
        [total]="total"
      ></app-paginator>
    </div>
  </div>
</div>
