.wrapper {
  position: relative;
  cursor: pointer;
}
.count {
  position: absolute;
  top: -4px;
  right: -4px;
  font-size: 10px;
  background-color: #41cccc;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}
.total {
  position: absolute;
  font-size: 12px;
  bottom: -10px;
}
