.wrapper {
  padding: 80px 114px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 24px;
  justify-content: start;
}
.title {
  font-size: 30px;
  margin-bottom: 29px;
}
.container {
  margin-top: 50px;
  display: flex;
  gap: 24px;
}
